:root {
  --color0: #f8f8f8;
  --color1: #dbe1e8;
  --color2: #b2becd;
  --color3: #6c7983;
  --color4: #454e56;
  --color5: #3379f3;
  --color6: #12181b;
}

.light{
  --color2: #b2becd;
  --color3: #6c7983;
  --color4: #05192b;
}


.card-foot{
  background-image: url("./assets/football.jpeg");
}
.card-sports{
  background-image: url("./assets/sports.jpeg");
}
.card-cricket{
  background-image: url("./assets/cricket.jpeg");
}
.card-tennis{
  background-image: url("./assets/tennis.jpeg");
}

.w-screen-98{
  width:97vw;
}

.behind{
  z-index: -10;
}
          
.sidebar:hover > .title{
  opacity: 1;
}
.load-transition{
  animation: load 1000ms linear;
}

@keyframes load {
  0% {opacity: 0;}
  80% ,100% {opacity: 1;}
}